<div class="flex-column justify-space-around">
  <header class="display-flex justify-space-between align-center p-2">
    <h2>
      <img src="../public/assets/mymdb.png" role="img" aria-label="logo" width="200" height="200"></img>
      <a href="/">Movie App</a>
    </h2>

    <div class="container">
      <br>
      <h1>Trailer Finder</h1>
      <br>
      <form id="form">
        <div class="form-group">
          <input type="text" class="form-control" id="search">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-danger" value="Search">
        </div>
      </form>
      <div class="row">
        <div class="col-md-12">
          <div id="videos">

          </div>
        </div>
      </div>

    </div>