.rating {
    display: flex;
    padding: 0;
    margin: 0;
}
.rating li {
    list-style-type: none;
}
.rating-item {
    border: 1px solid blue;
    cursor: pointer;
    font-size: 2em;
    color: pink;
}
.active {
    color: yellow;
    border: 1px solid rgb(0, 255, 200);
    cursor: pointer;
}
.rating-item::before {
    content: "\2605";
}
.rating-item.active~.rating-item::before {
    content: "\2605";
}
.rating:hover .rating-item::before {
    content: "\2605";
}
.rating-item:hover~.rating-item::before {
    content: "\2605";
}

.divided {
    display: flex;
    align-items: center;
  }
  

.divider {
    flex-grow: 1;
    border-bottom: 1px solid black;
    margin: 5px
  }